repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-yaml
      - id: check-yaml

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py313-plus]

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black-jupyter
        args: [--preview, --unstable] # Enable future features

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.14.5"
    hooks:
      - id: ruff
